body{
	border: 0;
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, Verdana;
}
.title{
	margin-top: 10px;
	font-size: 1.3em;
}

.gradientBg{
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(229,229,229) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(229,229,229))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
}

.redGradientBg{
	background: #dc291e; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#dc291e), to(#a90202));
	background: -moz-linear-gradient(top, #dc291e, #a90202);
	background: linear-gradient(top, #dc291e, #a90202);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc291e', endColorstr='#a90202');
	color: white;
}

.padd10{
	padding: 10px;
}
.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.whiteText{
	color: white;
	text-shadow: 1px 1px 2px #333;
}

h1, h2, h3, h4, .title{
	font-family: "futura-pt-n7","futura-pt",'Trebuchet MS', Arial, sans-serif;
}

a, a:visited{
	color: #dc291e;
	text-decoration:none;
}

a:hover{
	background-color: #ffffcc;
}

#contentLogo{
  float : left;
  width : 100px;
  height : 50px;
}

#contentNav{
  float : left;
  width : 850px;
  height : 50px;
}

.nav {
	list-style: none;
	margin: 10px 0 0 5px;
}
.nav li{
	display: inline-block;
	margin-right: 10px;
	background: #232323;
	padding: 5px 12px 5px 10px;
	border-radius: 6px;
	line-height: 20px
}

.nav li:hover{
	background-color: #ffffcc;
}

#contentTop{
  float : left;
  width: 650px;
  height : 90px;
}

#contentBottom{
  float : left;
  width : 970px;
  height : 50px;
}

.topHeading{
	width: 970px;
	height: 90px;
}

h1.hotTitle{
	color: #900;
	font-size: 3em;
	font-family: Verdana, Arial Black, Arial;
	text-transform: uppercase;
}

#contentLeft{
  float : left;
  width : 650px;
  height : 890px;
}

#contentRight{
  float : right;
  width : 300px;
  height : 1000px;
}

#center{
  position : relative;
  margin-right : auto;
  margin-left : auto;
  width : 990px;
}

#topBar{
	display:block;
	height: 70px;
}

.mockContent{
  position : relative;
  background-color : #bbbbbb;
  margin : 10px;

}

.mockContent > div, .mockContent > h1, .mockContent > p {
	padding: 5px;
}

#adUnitWrapper{
  position : relative;
  margin-right : auto;
  margin-left : auto;
  width : 970px;
  z-index: 500;
}

#adUnitWrapper div, #adUnitWrapper div iframe {
	transition: height 0.4s ease-in-out, height 0.4s;
}

#portraitAdWrapper{
  position : relative;
	float: right;
  margin-right : auto;
  margin-left : auto;
  width : 300px;
	height : 1050px;
  z-index: 500;
}

.adWrapper div, .adWrapper div iframe {
	transition: height 0.4s ease-in-out, height 0.4s;
}


a.unavailable{
	color: #555;
}
